openapi: 3.0.0
info:
  title: Servizi cooperativi per la certificazione.
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/certificazione
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/certificazione
    description: Servizio di preproduzione
  - url: http://localhost:8092
    description: Servizio mock locale
paths:
  /certificato/{version}:
    post:
      description: Servizio di richiesta certificato
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
               required: true
               content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CertificatoRequest'
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CertificatoResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CertificatoResponse'

        '404':
          description: Non trovato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CertificatoResponse'
components:
  schemas:
    CertificatoRequest:
      description: Input del servizio specializzato per il certificato
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            idAnsc:
              type: string
              description: Id Nazionale univoco assegnato dal sistema.    
              example: "2022-2780-26095-040007"
            idEvento:
              type: string
              description: Id univoco dell’ Evento
              example: "256343"
            richiedente:
              allOf:
                - $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelSoggetto'
              description: Modello  soggetto richiedente
            enteRichiedente:
              allOf:
                - $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEnteEstero'
              description: Ente terzo richiedente
            intestatario:
              allOf:
                - $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelSoggetto'
              description: soggetto intestatario
            idTipoCertificato:
              type: string
              description: Id univoco del tipo certificato (1 - Certificato Semplice . 2 - Estratto per riassunto . 3 Estratto integrale)
              example: "1"
            idTipoEvento:
              type: string
              description: Id del tipo evento. (decodifica ANSC_01)
              example: "5"
            conPaternitaMaternita:
              type: boolean
              description: Indica se il certificato nascita deve contenere o meno anche i dati di padre e madre
              example: true
            usoMatrimonio:
              type: boolean
              description: Indica opzione di uso matrimonio alla richiesta dei certificati semplici e per riassunto per registro di nascita e matrimonio
              example: true
            codiciLingueCertificato:
              type: array
              items:
               type: string
               description: Codici lingue aggiuntive in cui il certificato verrà prodotto
            idTipoUso:
              type: string
              description: Id del tipo uso (codificato ANSC_113)
              example: "5"
            flagSemplificato:
              type: boolean
              description: Indica se il certificato estratto per copia integrale deve essere semplificato ossia senza metadati
              example: true
    CertificatoResponse:
      description: Ritorno del servizio specializzato per il certificato
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            contenuto:
              type: string
              description: File in formato base64
              example: QU5TQw==
            nomeFile:
              type: string
              description: Nome del file
              example: Nome.pdf
            tipoFile: 
              type: string
              description: Tipo del file (codificato ANSC_10)
              example: '3'
            tipoContenutoFile:
              type: string
              description: Id del tipo contenuto
              example: '1'
            idCertificato:
              type: string
              description: Identificativo univoco del certificato
              example: '2757'
            codice:
              type: string
              description: Codice chiamata
              example: '200'
            descrizione:
              type: string
              description: Descrizione esito chiamata
              example: 'success'
            tipologia:
              type: string
              description: Tipo errore del servizio
              example: 'errore'
            datavalidita:
              format: date
              description: Data fine validità.
              example: '2025-12-30'

