openapi: 3.0.0
info:
  title: Servizio consultazione eventi di stato civile
  version: '1.4.0'
servers:
  - url: https://anscservice.anpr.interno.it/services/service/ricerca
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/ricerca
    description: Servizio di preproduzione
  - url: http://localhost:8088
    description: Servizio mock locale
paths:
  /consultazione/ansc/evento/{version}:
    post:
      description: Ricerca tramite dati evento 
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultazioneANSCEventoRequest'
      responses:
       200:
          description: Atto richiesto dalla ricerca
          content:
            application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       403:
         description: Non autorizzato
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       400:
         description: Se non arriva una firma valida (deve essere diversa da null)
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
  /consultazione/ansc/soggetto/{version}:
    post:
      description: Ricerca tramite dati soggetto
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultazioneANSCSoggettoRequest'
      responses:
       200:
          description: Atto richiesto dalla ricerca
          content:
            application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       403:
         description: Non autorizzato
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       400:
         description: Se non arriva una firma valida (deve essere diversa da null)
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
  /consultazione/ansc/intestatario/{version}:
    post:
      description: Ricerca intestatrio tramite dati anagrafici
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
         required: true
         content:
            application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCSoggettoRequest'
      responses:
       200:
          description: Soggetto richiesto dalla ricerca
          content:
            application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCSoggettoResponse'
       403:
         description: Non autorizzato
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCSoggettoResponse'
       400:
         description: Se non arriva una firma valida (deve essere diversa da null)
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCSoggettoResponse'

components:
  schemas:
    CriteriRicercaEvento:
      properties:
        idAnsc:
          type: string
          description: Id Nazionale univoco assegnato dal sistema.
          example: "2022-9423-26624-040007"
        idComunale:
          type: string
          description: Numero Comunale dell'Atto (codificato ANPR_03)
          example: "178"
        idEvento:
          type: string
          description: Id Evento.
          example: "26624"
        idTipoEvento:
          type: string
          description: Identificativo del tipo di evento (codificato ANSC_01)
          example: '2'
        idTipoContenuto:
          type: string
          description: Identificativo del tipo di contenuto (codificato ANSC_02) 
          example: '3'              
        dataDa:
         type: string
         format: date
         description: Data minima di ricerca dell'evento
         example: "2014-11-14"
        dataA:
         type: string
         format: date
         description: Data massima di ricerca dell'evento
         example: "2014-12-17"
        eventoSorgente:
         type: string
         description: flag per cercare l'evento che ha generato l'annotazione automatica
         example: "true"
    CriteriRicercaSoggetto:
      properties:
        idAnpr:
          type: string
          description: Id Anpr
          example: "1AFD4"
        idAnscSoggetto:
          type: string
          description: Id Ansc soggetto
          example: "245912"       
        codiceFiscale: 
          type: string
          description: codice fiscale
          example: 'PNUFDN87C13F103O'          
        cognome: 
          type: string
          description: Cognome
          example: 'CognomeNato'          
        nome: 
          type: string
          description: Nome
          example: 'UNO'
        sesso: 
          type: string
          description: Sesso
          example: 'f'
        idComuneNascita: 
          type: string
          description: Identificativo del comune nascita (come da archivio comuni ANPR_3), da fornire in alternativa a nomeComuneNascita e siglaProvinciaNascita
          example: '2780'            
        nomeComuneNascita: 
          type: string
          description: descrizione del Comune di Nascita, da fornire se non viene valorizato l'idComuneNascita
          example: 'ROMA'          
        siglaProvinciaNascita: 
          type: string
          description: Sigla della provincia di Nascita, da fornire se non viene valorizato l'idComuneNascita
          example: 'RM'
        codiceStatoNascita: 
          type: string
          description: Codice dello stato di nascita (dall'archivio degli stati nascita ANPR_02)
          example: '100'          
        nomeStatoNascita: 
          type: string
          description: Nome dello Stato di Nascita
          example: 'ITALIA'
        datanascita: 
          type: string
          format: date
          description: Data Di Nascita
          example: '2020-01-01'   
    ConsultazioneANSCEventoRequest:
      description: Richiesta del servizio di ricerca per evento
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          required:
            - criteriRicercaEvento
          properties:
            criteriRicercaEvento:
                $ref: '#/components/schemas/CriteriRicercaEvento'            
    ConsultazioneANSCSoggettoRequest:
      description: Richiesta del servizio di ricerca per soggetto
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          required:
            - criteriRicercaSoggetto
          properties:         
            criteriRicercaSoggetto:
                $ref: '#/components/schemas/CriteriRicercaSoggetto'
    ConsultazioneANSCResponse:
      description: Ritorno del servizio specializzato per la consultazione ANSC
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            modelEventoDTO:
              description: Elenco degli eventi trovati (fino alla versione 1.5.2 il nome della propreità era erroneamente 'eventi')
              type: array
              items:
                $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
    ConsultazioneANSCSoggettoResponse:
      description: Ritorno del servizio per la consultazione intestatari ANSC
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            soggetti:
              type: array
              items:
                $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelSoggetto'