openapi: 3.0.0
info:
  title: Servizio consultazione eventi di stato civile
  version: '1.4.0'
servers:
  - url: https://anscservice.anpr.interno.it/services/service/ricerca
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/ricerca
    description: Servizio di preproduzione
  - url: http://localhost:8088
    description: Servizio mock locale
paths:
  /consultazione/ansc/evento/{version}:
    post:
      description: Ricerca tramite dati evento 
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultazioneANSCEventoRequest'
      responses:
       '200':
          description: Atto richiesto dalla ricerca
          content:
            application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       '403':
         description: Non autorizzato
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       '400':
         description: Se non arriva una firma valida (deve essere diversa da null)
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
                 
  /consultazione/ansc/evento/note/tecniche/{version}:
    post:
      description: Ricerca di tutte le note tecniche afferenti all'evento passato in input 
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultazioneANSCEventoNoteTecnicheRequest'
      responses:
       '200':
          description: Note Tecniche richieste dalla ricerca
          content:
            application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       '403':
         description: Non autorizzato
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       '400':
         description: Se non arriva una firma valida (deve essere diversa da null)
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'

  /consultazione/ansc/evento/rifiuti/{version}:
    post:
      description: 'Ricerca provvedimenti di rifiuto per evento'
      tags:
        - Consultazione service
      summary: 'Ricerca di tutti i provvedimenti di rifiuto afferenti all''evento
          passato in input '
      operationId: getRifiutiByEvento
      parameters:
        - name: version
          in: path
          description: Versione del servizio
          required: true
          schema:
            type: string
      requestBody:
        description: Filtri per la ricerca dei provvedimenti di rifiuto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultazioneANSCEventoRifiutoRequest'
        required: true
      responses:
        '200':
          description: Provvedimenti di rifiuto richiesti dalla ricerca
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultazioneANSCResponse'
        '400':
          description: Se non arrivano dati validi (devono essere diversi da null)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultazioneANSCResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultazioneANSCResponse'

  /consultazione/ansc/soggetto/{version}:
    post:
      description: Ricerca tramite dati soggetto
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultazioneANSCSoggettoRequest'
      responses:
       '200':
          description: Atto richiesto dalla ricerca
          content:
            application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       '403':
         description: Non autorizzato
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
       '400':
         description: Se non arriva una firma valida (deve essere diversa da null)
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCResponse'
  /consultazione/ansc/intestatario/{version}:
    post:
      description: Ricerca intestatario tramite dati anagrafici (restituisce sia soggetti già presenti in ANSC, che in ANPR, nel secondo caso, la property id non viene impostata)
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
        - name: revision
          in: query
          required: false
          description: >
            Parametro di revisione per determinare il formato della risposta. I valori possibili sono:
            - 2000000: Usa ConsultazioneANSCSoggettoResponse
            - 2000001: Usa ConsultazioneANSCSoggettoRevision1Response
            - 2000002: Usa ConsultazioneANSCSoggettoResponse
            - 2000003: Usa ConsultazioneANSCSoggettoResponse
            - Se non fornito: Usa ConsultazioneANSCSoggettoRevision1Response
          schema:
            type: integer
            enum: [ 2000000, 2000001, 2000002, 2000003 ]
            example: 2000000
      requestBody:
         required: true
         content:
            application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCSoggettoRequest'
      responses:
       '200':
          description: Soggetto richiesto dalla ricerca
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ConsultazioneANSCSoggettoResponse'
                  - $ref: '#/components/schemas/ConsultazioneANSCSoggettoRevision1Response'
       '403':
         description: Non autorizzato
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCSoggettoResponse'
       '400':
         description: Se non arriva una firma valida (deve essere diversa da null)
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/ConsultazioneANSCSoggettoResponse'

components:
  schemas:
    CriteriRicercaEvento:
      properties:
        idAnsc:
          type: string
          description: Id Nazionale univoco assegnato dal sistema.
          example: "2022-9423-26624-040007"
        idComunale:
          type: string
          description: Numero Comunale dell'Atto (codificato ANPR_03)
          example: "178"
        idEvento:
          type: string
          description: Id Evento.
          example: "26624"
        idTipoEvento:
          type: string
          description: Identificativo del tipo di evento (codificato ANSC_01)
          example: '2'
        idTipoContenuto:
          type: string
          description: Identificativo del tipo di contenuto (codificato ANSC_02) 
          example: '3'              
        dataDa:
         type: string
         format: date
         description: Data minima di ricerca dell'evento
         example: "2014-11-14"
        dataA:
         type: string
         format: date
         description: Data massima di ricerca dell'evento
         example: "2014-12-17"
        eventoSorgente:
         type: string
         description: flag per cercare l'evento che ha generato l'annotazione automatica
         example: "true"
        flagRettifica:
         type: string
         description: flag per cercare l'ultima rettifica
         example: "true"
        idComuneRegistrazione:
          type: string
          description: identificativo del comune di registrazione
          example: "178"
    CriteriRicercaNotaTecnica:
      properties:
        idAnsc:
          type: string
          description: Id Nazionale univoco assegnato dal sistema.
          example: "2022-9423-26624-040007"        
    CriteriRicercaSoggetto:
      properties:
        idAnpr:
          type: string
          description: Id Anpr
          example: "1AFD4"
        idAnprUnico:
          type: string
          description: Id Unico Anpr
          example: "ABCD12345"
        idAnscSoggetto:
          type: string
          description: Id Ansc soggetto
          example: "245912"       
        codiceFiscale: 
          type: string
          description: codice fiscale
          example: 'PNUFDN87C13F103O'          
        cognome: 
          type: string
          description: Cognome
          example: 'CognomeNato'          
        nome: 
          type: string
          description: Nome
          example: 'UNO'
        sesso: 
          type: string
          description: Sesso
          example: 'f'
        idComuneNascita: 
          type: string
          description: Identificativo del comune nascita (come da archivio comuni ANPR_3), da fornire in alternativa a nomeComuneNascita e siglaProvinciaNascita
          example: '2780'            
        nomeComuneNascita: 
          type: string
          description: descrizione del Comune di Nascita, da fornire se non viene valorizato l'idComuneNascita
          example: 'ROMA'          
        siglaProvinciaNascita: 
          type: string
          description: Sigla della provincia di Nascita, da fornire se non viene valorizato l'idComuneNascita
          example: 'RM'
        codiceStatoNascita: 
          type: string
          description: Codice dello stato di nascita (dall'archivio degli stati nascita ANPR_02)
          example: '100'          
        nomeStatoNascita: 
          type: string
          description: Nome dello Stato di Nascita
          example: 'ITALIA'
        datanascita: 
          type: string
          format: date
          description: Data Di Nascita
          example: '2020-01-01'
    ConsultazioneANSCEventoRequest:
      description: Richiesta del servizio di ricerca per evento
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          required:
            - criteriRicercaEvento
          properties:
            criteriRicercaEvento:
                $ref: '#/components/schemas/CriteriRicercaEvento'    
    ConsultazioneANSCEventoNoteTecnicheRequest:
      description: Richiesta del servizio di consultazione per le note tecniche afferenti all'evento passato in input 
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:
            idEvento:
              type: string
              description: Id univoco interno dell'evento a cui fa riferimento la nota tecnica
              example: "35634"           
    ConsultazioneANSCSoggettoRequest:
      description: Richiesta del servizio di ricerca per soggetto
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          required:
            - criteriRicercaSoggetto
          properties:         
            criteriRicercaSoggetto:
                $ref: '#/components/schemas/CriteriRicercaSoggetto'
    ConsultazioneANSCResponse:
      description: Ritorno del servizio specializzato per la consultazione ANSC
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            modelEventoDTO:
              description: Elenco degli eventi trovati (fino alla versione 1.5.2 il nome della propreità era erroneamente 'eventi')
              type: array
              items:
                $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
    ConsultazioneANSCSoggettoResponse:
      description: Ritorno del servizio per la consultazione intestatari ANSC, quando revision è 2000000, 2000002, o 2000003
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            soggetti:
              type: array
              items:
                $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelSoggetto'

    ConsultazioneANSCSoggettoRevision1Response:
      description: Ritorno del servizio per la consultazione intestatari ANSC, quando revision è 2000001 o non fornito
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:
            soggetti:
              type: array
              items:
                $ref: '#/components/schemas/ModelSoggettoInt'

    ConsultazioneANSCEventoRifiutoRequest:
      description: Richiesta del servizio di consultazione per i provvedimenti di rifiuto afferenti
        all'evento passato in input
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:
            idEvento:
              type: string
              description: Id univoco interno dell'evento a cui fa riferimento il provvedimento di rifiuto
              example: "35634"
    ModelSoggettoInt:
      properties:
        id:
          type: number
          format: bigdecimal
          description: Identificativo del soggetto
          example: 123456
        idANPR:
          type: string
          description: Identificativo unico anpr del soggetto
          example: ABCDE1234
        cognome:
          type: string
          description: Cognome del soggetto
          example: 'Rossi'
        nome:
          type: string
          description: Nome del soggetto
          example: 'Mario'
        sesso:
          type: string
          description: Sesso del soggetto
          example: 'm'
        dataNascita:
          type: string
          format: date
          description: Data di nascita del soggetto
          example: '2024-05-30'
        datains:
          type: string
          format: date
          description: Data di inserimento
          example: '2024-05-30'
        dataultimoagg:
          type: string
          format: date
          description: Data dell'ultimo aggiornamento
          example: '2024-05-30'
        codiceFiscale:
          type: string
          description: Codice fiscale del soggetto
          example: 'PNUFDN87C13F103O'
        idComuneNascita:
          type: number
          format: bigdecimal
          description: ID del comune di nascita
          example: 1222
        idStatoNascita:
          type: string
          description: ID dello Stato di nascita
          example: '100'
        idStato:
          type: number
          format: bigdecimal
          description: ID dello Stato
          example: 100
        idComuneResidenza:
          type: number
          format: bigdecimal
          description: ID del comune di residenza
          example: 122
        idStatoResidenza:
          type: string
          description: ID dello Stato di residenza
          example: '100'
        nazionalita:
          type: string
          description: Nazionalità del soggetto
          example: 'Italiana'
        nomeStatoNascita:
          type: string
          description: Nome dello Stato di nascita
          example: 'ITALIA'
        idProvinciaNascita:
          type: number
          format: bigdecimal
          description: ID della provincia di nascita
          example: 123
        nomeComuneNascita:
          type: string
          description: Nome del comune di nascita
          example: 'Roma'
        idProvinciaResidenza:
          type: number
          format: bigdecimal
          description: ID della provincia di residenza
          example: 123
        siglaProvinciaNascita:
          type: string
          description: Sigla della provincia di nascita
          example: 'RM'
        idNazionalita:
          type: number
          format: bigdecimal
          description: ID della nazionalità
          example: 1
