openapi: 3.0.0
info:
  title: Servizio di firma del dichiarante
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/firma
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/firma
    description: Servizio di preproduzione
  - url: http://localhost:8087
    description: Servizio mock locale
paths:
  /firmadichiarante/upload/{version}:
    post:
      description: Caricamento file firmato dal dichiarante secondo processo manuale
      parameters:
        - name: version
          in: path
          required: true
          description: Versione del servizio
          schema:
            type: string
      requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmaDichiaranteRequest'
      responses:
       200:
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/FirmaDichiaranteResponse'
       403:
         description: Non autorizzato
         content:
            application/json:
              schema:
                 $ref: '#/components/schemas/FirmaDichiaranteResponse'
       400:
         description: Se non arriva un file valido (deve essere diverso da null)
         content:
           application/json:
              schema:
                 $ref: '#/components/schemas/FirmaDichiaranteResponse'
       413:
         description: La dimensione del file supera i limiti del sistema
         content:
           application/json:
              schema:
                 $ref: '#/components/schemas/FirmaDichiaranteResponse'
  
components:
  schemas:
    FirmaDichiaranteInput:
      properties:
        contenuto:
          type: string
          format: base64
          description: Il file in formato base64
          example: "QU5TQw=="
        nomefile:
          type: string
          description: Nome del file
          example: "nome_del_file.pdf"
        idEvento:
          type: string
          description: Id dell'Atto
          example: "137484"
        tipoFile:
          type: string
          description: Tipo del file (codificato ANSC_10)
          example: "1"
        tipoAllegato:
          type: string
          description: Tipo dell'allegato (codificato ANSC_09)
          example: "1"
        stato:
          type: string
          description: Stato corrente dell'allegato (codificato ANSC_08)
          example: "1"
        listaFirmatari:
          type: array
          items:
            $ref: '#/components/schemas/FirmatarioDTO'
    FirmatarioDTO:
      properties:
        nome:
          type: string
          description: Nome Firmatario
          example: "Mario"
        cognome:
          type: string
          description: Cognome Firmatario
          example: "Rossi"
        codiceFiscale:
          type: string
          description: Codice Fiscale Firmatario
          example: "CDV87R12A326V"
        sesso:
          type: string
          description: sesso del Firmatario
          example: "M"   
        dataNascita:
          type: string
          format: date
          description: data di nascita del Firmatario
          example: "2020-01-03"
    FirmaDichiaranteOutput:
      properties:
        idAllegato:
          type: string
          description: Id del file assegnato dal sistema
          example: "43676"
        statoAllegato:
          type: string
          description: Stato corrente dell'allegato (codificato ANSC_8)
          example: "1"
        contenuto:
          type: string
          format: base64
          description: Il file in formato base64
          example: "QU5TQw=="
        protocollo:
          type: string
          description: Protocollo dell'allegato assegnato dal comune
          example: "31298/2022"
        nomefile:
          type: string
          description: Nome del file
          example: "nome_del_file.pdf"
        tipoFile:
          type: string
          description: Tipo del file (codificato ANSC_10)
          example: "1"
        tipoAllegato:
          type: string
          description: Tipo dell'allegato (codificato ANSC_09)
          example: "1"
        hash:
          description: "Hash del file calcolato dal sistema (nota: definire l'algoritmo, per es: SHA1)"
          type: string
          example: "21d305c42509"
        codice:
          type: string
          description: codice
          example: "200"
        descrizione:
          type: string
          description: descrizione del codice
          example: "SUCCESS"
        tipologia:
          type: string
          description: errore del servizio
          example: "errore"
    FirmaDichiaranteRequest:
      description: Dati del file inviato
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            firmaDichiaranteInput:
                $ref: '#/components/schemas/FirmaDichiaranteInput'
    FirmaDichiaranteResponse:
      description: Dati del file restituito dal servizio
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            firmaDichiaranteOutput:
                $ref: '#/components/schemas/FirmaDichiaranteOutput'         
