openapi: 3.0.0
info:
  title: Servizi cooperativi per firma USC
  version: '1.26.0'
servers:
  - url: https://anscservice.anpr.interno.it/services/service/firma
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/firma
    description: Servizio di preproduzione
  - url: http://localhost:8087
    description: Servizio mock locale
paths:
  '/firma_usc/{version}':
    post:
      description: Firma remota Ufficiale Stato Civile
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmaRequest'
      responses:
        '200':
          description: Successo
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/FirmaResponse'
        '400':
          description: Se non arriva un evento valido
          content: 
            application/json: 
             schema: 
                $ref: '#/components/schemas/FirmaResponse'
        '403':
          description: Non autorizzato
          content: 
            application/json: 
             schema: 
                $ref: '#/components/schemas/FirmaResponse'
  '/attestazione/firma/{version}':
    post:
      description: Firma remota Ufficiale Stato Civile dell'Attestazione di conformità
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmaAttestazioneRequest'
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmaAttestazioneResponse'
        '400':
          description: Se non arriva un evento valido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmaAttestazioneResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmaAttestazioneResponse'
components:
  schemas:
    FirmaInput:
      properties:
        idEvento:
          type: string
          description: Id univoco dell'evento
          example: '43676'
        parametriFirma:
          $ref: '#/components/schemas/ParametriFirma'
    ParametriFirma:
      properties:
        idTipoFirma:
          type: string
          description: Identificativo tipo firma (codificato ANSC_28), da notare che i parametri di input obbligatori potrebbero cambiare nel tempo a seconda del fornitre del servizio di firma remota
          example: "1"
        idModalitaInput:
          type: string
          description: Modalita' invio input, '1' - In chiaro, '2' - base64, il valore di default se non impostato e' '1', il valore '1' non sara' accettato in produzione
          example: "2"
        inputFirma1:
          type: string
          description: "Primo input per la firma (es. TestUser) \
            NOTA: Il nome utente va inserito per intero, se ad esempio è presente un dominio : TestUser@miodominio"
          example: "VGVzdFVzZXI="
        inputFirma2:
          type: string
          description: Secondo input per la firma (es. TestPassword)
          example: "VGVzdFBhc3N3b3Jk"
        inputFirma3:
          type: string
          description: Terzo input per la firma (es. TestOtp)
          example: "VGVzdE90cA=="
    FirmaRequest:
      description: Richiesta del servizio per la firma dell' Ufficiale di Stato Civile
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            firmaInput:
                $ref: '#/components/schemas/FirmaInput'
    FirmaResponse:
      description: Risposta del servizio per la firma dell' Ufficiale di Stato Civile
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            idEsito:
              type: integer
              description: Esito della firma
              example: 0
    FirmaAttestazioneRequest:
      description: Richiesta del servizio per la firma dell'attestazione di conformita'
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          required:
            - idTipoFlusso
            - firmaInput
          properties:
            idTipoFlusso:
              type: integer
              description: id del tipo di flusso 0 (Standard). Questo parametro è predisposto per sviluppi futuri.
              example: "0"
            firmaInput:
              $ref: '#/components/schemas/FirmaInput'
            allegati:
              description: Allegati all'atto con flagAttConformita
              type: array
              items:
                $ref: '#/components/schemas/AllegatoInput'
    AllegatoInput:
      description: Modello allegato passato dal FE con flagAttConformita (se settato a true allora l'allegato viene incluso nell'attestazione di conformità)
      properties:
        idAllegato:
          type: string
          description: Id del file assegnato dal sistema
          example: "43676"
        statoAllegato:
          type: string
          description: Stato corrente dell'allegato (codificato ANSC_8)
          example: "1"
        nomefile:
          type: string
          description: Nome del file
          example: "nome_del_file.pdf"
        tipoFile:
          type: string
          description: Tipo del file (codificato ANSC_10)
          example: "1"
        tipoAllegato:
          type: string
          description: Tipo dell'allegato (codificato ANSC_9)
          example: "1"
        hash:
          description: "Hash del file calcolato dal sistema (nota: definire l'algoritmo, per es: SHA1)"
          type: string
          example: "21d305c42509"
        flagAttConformita:
          type: boolean
          description: Se il flag è true l'allegato deve essere incluso nell'attestazione di conformità
          example: true
    FirmaAttestazioneResponse:
      description: Risposta del servizio per la firma dell'attestazione di conformita'
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:
            idEsito:
              type: integer
              description: Esito della firma
              example: 0