openapi: 3.0.0
info:
  title: Servizi cooperativi per le notifiche ai comuni
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/notifiche
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/notifiche
    description: Servizio di preproduzione
  - url: http://localhost:8084
    description: Servizio mock locale
paths:
  
  /notifiche/conferma/{version}:
    post:
      tags: 
        - Conferma notifiche
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfermaNotificaRequest'
      description: Servizio di conferma notifiche di annotazione/trascrizione.
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfermaNotificaResponse'
        '400':
          description: Dati in input non validi
          content: 
            application/json: 
             schema: 
                $ref: '#/components/schemas/ConfermaNotificaResponse'
        '403':
          description: Non autorizzato
          content: 
            application/json: 
             schema: 
                $ref: '#/components/schemas/ConfermaNotificaResponse'
       
  /notifiche/ricerca/{version}:
     post:
       tags: 
        - Consultazione notifiche
       description: Ricerca delle notifiche di un comune
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificheRicercaRequest'
       responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/NotificheRicercaResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/NotificheRicercaResponse'
        '400':
          description: Se non arrivano valori validi
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/NotificheRicercaResponse'
      
  /notifiche/getNotificheByEvento/{version}:
    description: restituzione notifiche per evento
    post:
      description: restituzione notifiche per evento
      tags:
      - Consultazione notifiche by Evento
      summary: restituzione notifiche per evento
      operationId: getNotificheByEvento
      parameters:
      - name: version
        in: path
        description: Versione del servizio
        required: true
        schema:
          type: string
      - name: revision
        in: query
        required: true
        description: La revisione del servizio invocato
        schema:
          type: string
      requestBody:
        description: Body della richiesta
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetNotificheByEventoRequest'
        required: true
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNotificheByEventoResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNotificheByEventoResponse'

  /notifiche/ricerca-notifiche-anpr/{version}:
    post:
      description: notifiche ANPR per id evento o id nazionale
      tags:
        - Consultazione notifiche ANPR by Evento
      summary: restituzione notifiche ANPR per id evento o id nazionale unico assegnato dal sistema
      operationId: ricerca-notifiche-anpr
      parameters:
        - name: version
          in: path
          description: Versione del servizio
          required: true
          schema:
            type: string
      requestBody:
        description: Body della richiesta
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RicercaNotificheAnprRequest'
        required: true
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RicercaNotificheAnprResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RicercaNotificheAnprResponse'

                
  /notifiche/rifiuta/{version}:
    post:
      tags: 
        - Rifiuta notifiche
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RifiutaNotificaCoopRequest'
      description: Servizio di rifiuto delle notifiche di annotazione/trascrizione.
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RifiutaNotificaCoopResponse'
        '400':
          description: Dati in input non validi
          content: 
            application/json: 
             schema: 
                $ref: '#/components/schemas/RifiutaNotificaCoopResponse'
        '403':
          description: Non autorizzato
          content: 
            application/json: 
             schema: 
                $ref: '#/components/schemas/RifiutaNotificaCoopResponse'
components:
  schemas:       
    ModelSoggettoRicerca:
      properties:
        idAnpr:
          type: string
          description: Id Anpr
          example: "1AFD4"
        idAnscSoggetto:
          type: string
          description: Id Ansc
          example: "43434"
        codiceFiscale: 
          type: string
          description: codice fiscale
          example: 'PNUFDN87C13F103O'          
        cognome: 
          type: string
          description: Cognome
          example: 'CognomeNato'          
        nome: 
          type: string
          description: Nome
          example: 'UNO'
        sesso: 
          type: string
          description: Sesso
          example: 'f'
        idComuneNascita: 
          type: string
          description: Identificativo del comune nascita (come da archivio comuni ANPR_3), da fornire in alternativa a nomeComuneNascita e siglaProvinciaNascita
          example: '2780'            
        nomeComuneNascita: 
          type: string
          description: descrizione del Comune di Nascita, da fornire se non viene valorizato l'idComuneNascita
          example: 'ROMA'          
        siglaProvinciaNascita: 
          type: string
          description: Sigla della provincia di Nascita, da fornire se non viene valorizato l'idComuneNascita
          example: 'RM'
        codiceStatoNascita: 
          type: string
          description: Codice dello stato di nascita (dall'archivio degli stati nascita ANPR_02), da fornire in caso di mancanza di dati comunali
          example: '100'          
        nomeStatoNascita: 
          type: string
          description: Nome dello Stato di Nascita, da fornire in caso di mancanza di dati comunali
          example: 'ITALIA'
        datanascita: 
          type: string
          format: date
          description: Data Di Nascita
          example: '2020-01-01'           
    CriteriRicercaNotifiche:
      properties:
        dataInizio:
          type: string
          format: date
          description: Estremo iniziale dell'intervallo della ricerca
          example: '2022-03-22'
        dataFine:
          type: string
          format: date
          description: Estremo finale dell'intervallo della ricerca
          example: '2022-03-25'
        idAnsc:
          type: string
          description: Identificativo dell'evento 
          example: '2022-23525-3523-33A'
        idTipoEvento:
          type: string
          description: Identificativo del tipo di evento (decodifica ANSC_01) 
          example: '2'   
        idTipoContenuto:
          type: string
          description: Identificativo del tipo di contenuto (decodifica ANSC_02) 
          example: '3'
        idStatoFlussoNotifiche:
          description: Stato della Notifica (decodifica ANSC_102)
          type: string
          example: '1'
        idGenereNotifiche:
          description: Genere di Notifica 1=Annotazione 2=Trascrizione (decodifica ANSC_101)
          type: string
          example: '1'                
        soggettoRicerca:
          $ref: '#/components/schemas/ModelSoggettoRicerca'

    GetNotificheByEventoRequest:
      description: Richiesta del servizio di ricerca notifiche per evento sorgente.
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:
            idAnsc:
              description: Identificativo dell'evento sorgente
              type: string
              example: 2022-23525-3523-33A
            tuttiComuni:
              description: Flag per estendere il servizio per consultare lo stato delle notifiche inviate ad altri comuni relative ad un evento sorgente formato
              type: boolean
              example: true
    GetNotificheByEventoResponse:
      description: Risposta del servizio di ricerca notifiche per evento.
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:
            notifiche:
              type: array
              items:
                $ref: '#/components/schemas/ModelNotifica'
    ModelNotifica:
      properties:
        id:
          type: string
          description: Identificativo univoco della notifica   
        idAnsc:
          type: string
          description: Identificativo evento Ansc
        idComuneFormazione:
          type: string
          description: Identificativo comune formazione
        idComuneCompetente:
          type: string
          description: Identificativo comune competente
        idSoggettoRif:
          type: string
          description: Identificativo soggetto di riferimento
        dataInizioValidita:
          type: string
          format: date-time
          description: data di inizio validita
        dataFineValidita:
          type: string
          format: date-time
          description: data di fine validita
        idStatoFlussoNotifiche:
          description: Stato flusso della Notifica (decodifica ANSC_102)
          type: string
          example: '1'
        idGenereNotifiche:
          description: Genere di Notifica 1=Annotazione 2=Trascrizione (decodifica ANSC_101)
          type: string
          example: '1'
        descrizione:
          description: Descrizione della notifica
          type: string
          example: 'Annotazione automatica id 2023-232227-00000-999999'
        idcanalenotifica:
          type: string
          description: Identifica modalità di trasmissione PEC o DIGITALE (decodifica ANSC_105)
        idformula:
          description: Id Formula Annotazione
          type: string
          example: '121-septies'
        idstatorifiuto:
          description: Id stato rifiuto (decodidifica ANSC 112)
          type: number
          example: 0
        attoCollegato:
          description: atto a cui si riferisce l'annotazione
          allOf:
            - $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelAttoCollegato'
        attoPrimario:
          description: atto su cui va apposta l'annotazione
          allOf:
            - $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelAttoCollegato'
        composizioneAnnotazione:
          description: testo annotazione presente sul pdf
          type: string
          example: 'Con provvedimento del nomeente in ITALIA in data 24/01/2025 n. ABC1234567890, è stata omologata la separazione consensuale fra i coniugi di cui atto di matrimonio controscritto.'
        idusecase:
          description: Id use case
          type: string
          example: '10000000'
        idtipoevento:
          description: Id tipo evento
          type: number
          example: 1
        idtipocontenuto:
          description: Id tipo contenuto
          type: number
          example: 4
        idevento:
          description: Id evento
          type: number
          example: 584448
        ideventosorgente:
          description: Id evento sorgente
          type: number
          example: 584448
        nomecomuneform:
          description: Nome comune formazione
          type: string
          example: 'CESENA'
        descsoggettointestatario:
          description: Descrizione soggetto intestatario
          type: string
          example: 'MARIE CURIE'
        flageventocartaceo:
          description: Flag evento cartaceo (1 se l'evento è cartaceo altrimenti l'evento è digitale)
          type: number
          example: 1
        datamodificastato:
          description: Id use case
          type: string
          format: date-time
          example: '2025-03-06T16:47:02.000+00:00'          
        flagnotificacondivisa:
          description: Flag notifica condivisa
          type: number
          example: 0
        nomeusc:
          description: Nome USC che approva la notifica
          type: number
          example: 0
        cognomeusc:
          description: Cognome USC che approva la notifica
          type: number
          example: 0
        codicefiscaleusc:
          description: Codice fiscale USC che approva la notifica
          type: number
          example: 0

    NotificheRicercaRequest:
      description: Ritorno del servizio specializzato per la configurazione dei pannelli
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            criteriRicercaNotifiche:
                $ref: '#/components/schemas/CriteriRicercaNotifiche'
    NotificheRicercaResponse:
      description: Ritorno del servizio specializzato per la configurazione dei pannelli
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            notifiche:
              type: array
              items:
                $ref: '#/components/schemas/ModelNotifica'
                
    ConfermaNotificaRequest:
      description: Dati Richiesti per la confermare la notifica indicata 
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            idNotifica:
              type: integer
              description: Identificativo della NOTIFICA da confermare
              example: 24252
           
    ConfermaNotificaResponse:
      description: Risposta del processo di conferma Notifica
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'

    NotificaAnpr:
      properties:
        id:
          type: string
          description: Identificativo univoco della notifica ANPR
        idTipoNotifica:
          type: string
          description: Identificativo univoco della notifica
        idComuneMittente:
          type: string
          description: Identificativo univoco del comune mittente della notifica
        idComuneDestinatario:
          type: string
          description: Identificativo univoco del comune destinatario della notifica
        dataIns:
          type: string
          description: Data di inoltro della notifica              

    RicercaNotificheAnprRequest:
      description: Richiesta del servizio di ricerca notifiche ANPR per evento.
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:
            idEvento:
              description: Identificativo dell'evento
              type: string
              example: '23525'
            idAnsc:
              description: Identificativo nazionale unico assegnato dal sistema
              type: string
              example: 2022-23525-3523-33A
    RicercaNotificheAnprResponse:
      description: Risposta del servizio di ricerca notifiche ANPR per evento.
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:
            notifiche:
              type: array
              items:
                $ref: '#/components/schemas/NotificaAnpr'
              

    RifiutaNotificaCoopRequest:
      description: Dati Richiesti per rifiutare la notifica indicata 
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            idNotifica:
              type: integer
              description: Identificativo della NOTIFICA da rifiutare
              example: 24252
           
    RifiutaNotificaCoopResponse:
      description: Risposta del processo di rifiuto Notifica
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'           