openapi: 3.0.0
info:
  title: Servizi cooperativi per la validazione dei dati dei singoli Use Case.
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /validazione/evento/{version}:
     post:
       description: Validazione del processo UseCase
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneEventoRequest'
       responses:
        200:
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        403:
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        400:
          description: Se i metadati non sono in formato json corretto
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        404:
          description: Se i dati dello use case non sono presenti in base dati.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'

  /collegamento/evento/{version}:
     post:
       description: Collegamento evento - annotazione
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollegamentoEventoRequest'
       responses:
        200:
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CollegamentoEventoResponse'
        403:
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CollegamentoEventoResponse'
        400:
          description: Se i metadati non sono in formato json corretto
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CollegamentoEventoResponse'
        404:
          description: Se i dati evento non sono presenti in base dati.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CollegamentoEventoResponse'
components:
  schemas:
    ValidazioneEventoRequest:
      description: Richiesta del servizio specializzato per la validazione dei singoli Use Case
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
          required:
            - evento
        - type: object
          properties:         
            evento:
                 $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
    ValidazioneEventoResponse:
      description: Ritorno del servizio specializzato per la validazione dei singoli Use Case
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            idEvento:
              type: string
              description: Identificativo evento interno
              example: '4245234'
            idAnsc:
              type: string
              description: Identificativo evento Nazionale
              example: '2022-242352-1-3434A'
            idTipoEvento:
              type: string
              description: Identificativo del tipo di evento (decodifica ANSC_01) 
              example: '2'
    CollegamentoEventoRequest:
      description: Richiesta del servizio specializzato per il collegamento atto e annotazione
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            collegamento:
                 $ref: '#/components/schemas/ModelDatiCollegamento'
    CollegamentoEventoResponse:
      description: Ritorno del servizio di collegamento atto e annotazione
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            idEsito:
              type: integer
              description: Esito del collegamento
              example: 0  
    ModelDatiCollegamento:
      properties:   
        idEvento:
          type: string
          description: Identificativo nazionale evento primario
          example: '79553' 
        dataFormazioneEvento:
          type: string
          description: Data di formazione evento primario
          example: "2014-12-17"
        idAnnotazione:
          type: string
          description: Identificativo nazionale evento annotazione
          example: '79685'
        idSoggetto:
          type: string
          description: Identificativo soggetto intestatario Ansc
          example: '55615'
                            