openapi: 3.0.0
info:
  title: Servizi cooperativi per la validazione dei dati dei singoli Use Case.
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /validazione/evento/{version}:
     post:
       description: Validazione del processo UseCase
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneEventoRequest'
       responses:
        200:
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        403:
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        400:
          description: Se i metadati non sono in formato json corretto
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        404:
          description: Se i dati dello use case non sono presenti in base dati.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        416:
          description: Quando lo use case non è abiltato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'

  /collegamento/evento/{version}:
     post:
       description: Collegamento evento - annotazione
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollegamentoEventoRequest'
       responses:
        200:
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CollegamentoEventoResponse'
        403:
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CollegamentoEventoResponse'
        400:
          description: Se i metadati non sono in formato json corretto
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CollegamentoEventoResponse'
        404:
          description: Se i dati evento non sono presenti in base dati.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/CollegamentoEventoResponse'
  
  /prenota/evento/{version}:
    post:
      description: Servizio di prenotazione id nazionali per il parto gemellare e plurigemellare
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrenotaEventoRequest'
      responses:
        200:
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/PrenotaEventoResponse'
        403:
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/PrenotaEventoResponse'
        404:
          description: Se i dati dello use case non sono presenti in base dati.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/PrenotaEventoResponse'
components:
  schemas:
    ValidazioneEventoRequest:
      description: Richiesta del servizio specializzato per la validazione dei singoli Use Case
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
          required:
            - evento
        - type: object
          properties:         
            evento:
                 $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
            forcingCode:
              type: string
              description: codice di forzatura per eventi anomali
              example: 'XXXXX_1234'
    ValidazioneEventoResponse:
      description: Ritorno del servizio specializzato per la validazione dei singoli Use Case
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            idEvento:
              type: string
              description: Identificativo evento interno
              example: '4245234'
            idAnsc:
              type: string
              description: Identificativo evento Nazionale
              example: '2022-242352-1-3434A'
            idTipoEvento:
              type: string
              description: Identificativo del tipo di evento (decodifica ANSC_01) 
              example: '2'
            forcingCode:
              type: string
              description: codice di forzatura per eventi anomali
              example: 'XXXXX_1234'
    CollegamentoEventoRequest:
      description: Richiesta del servizio specializzato per il collegamento atto e annotazione
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            collegamento:
                 $ref: '#/components/schemas/ModelDatiCollegamento'
    CollegamentoEventoResponse:
      description: Ritorno del servizio di collegamento atto e annotazione
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            idEsito:
              type: integer
              description: Esito del collegamento
              example: 0
    PrenotaEventoRequest:
      description: Richiesta di prenotazione id nazionali per il parto gemellare e plurigemellare
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:
            numeroGemelliNatiVivi: 
             type: string
             description: Numero di gemelli nati vivi
             example: 2
            listaNumeriComunali:
             type: array
             items:
              type: string
              description: Lista numero comunale univoco assegnato per ogni gemello
            idUsecase: 
             type: string
             description: Id del caso d'uso cui si riferisce l'evento.
             example: 1170
          required:
            - numeroGemelliNatiVivi
            - listaNumeriComunali
            - idUsecase
    PrenotaEventoResponse:
      description: Risposta per il servizio di generazione degli idANSC associati al parto gemellare e plurigemellare
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:
           listaIdEvento:
            type: array
            items:
             type: string
             description: Lista identificativo univoco interno dell'evento
           listaIdAnsc:
            type: array
            items:
             type: string
             description: Lista identificativo univoco Nazionale dell'evento per tutti i comuni 
    ModelDatiCollegamento:
      properties:   
        idEvento:
          type: string
          description: Identificativo nazionale evento primario
          example: '79553' 
        dataFormazioneEvento:
          type: string
          format: date
          description: Data di formazione evento primario
          example: "2014-12-17"
        idAnnotazione:
          type: string
          description: Identificativo nazionale evento annotazione
          example: '79685'
        idSoggetto:
          type: string
          description: Identificativo soggetto intestatario Ansc
          example: '55615'
                            