openapi: 3.0.0
info:
  title: Servizio anteprima eventi di stato civile
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/anteprima
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/anteprima
    description: Servizio di preproduzione
  - url: http://localhost:8085
    description: Servizio mock locale
paths:
  /anteprima/evento/{version}:
    post:
      description: Anteprima di un atto anche parziale
      parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
      requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnteprimaEventoRequest'
      responses:
       200:
          description: Atto richiesto dalla ricerca
          content:
            application/json:
             schema:
                 $ref: '#/components/schemas/AnteprimaEventoResponse'
       403:
         description: Non autorizzato
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/AnteprimaEventoResponse'
       400:
         description: Se l'evento non è compatibile con la richiesta. Ad esempio non è in stato CONFERMATO nella richiesta di presa visione senza watermark
         content:
           application/json:
             schema:
                 $ref: '#/components/schemas/AnteprimaEventoResponse'
  
components:
  schemas:
    AnteprimaEventoRequest:
      description: Richiesta del servizio di anteprima
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          required:
            - evento
          properties:
            presaVisione:
                type: boolean
                description: Flag che richiede che l'anteprima non abbia il watermark. Per default è false
                example: false
            evento:
                $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
    EventoOutput:
      description: Modello evento restituito dal sistema 
      properties:
        contenuto:
          type: string
          format: base64
          description: Il file in formato base64
          example: "QU5TQw=="
        nomeFile:
          type: string
          description: Nome del file
          example: "nome_del_file.pdf"
        tipoFile:
          type: string
          description: Tipo del file (codificato ANSC_10)
          example: "1"
        tipoAllegato:
          type: string
          description: Tipo dell'allegato (codificato ANSC_9)
          example: "1"
        codice:
          type: string
          description: codice
          example: "200"
        descrizione:
          type: string
          description: descrizione del codice
          example: "SUCCESS"
        tipologia:
          type: string
          description: errore del servizio
          example: "errore"
    AnteprimaEventoResponse:
      description: Ritorno del servizio di anteprima evento      
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            eventoOutput:
                $ref: '#/components/schemas/EventoOutput'                 