openapi: 3.0.0
info:
  title: Servizi cooperativi per la cancellazione logica di un atto.
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /evento/elimina/{version}:
     post:
       description: Servizio che elimina logicamente l'evento sulle basi dati
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellazioneEventoRequest'
                
       responses:
        '200':
          description: Successo. Cancellazione riuscita
          content:
            application/json:
             schema:
                 $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        '400':
         description: Dati non validi
         content:
           application/json:
             schema:
                 $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        '404':
          description: Se il model evento passato non è presente in base dati.
          content:
            application/json:
              schema:
                 $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'         
components:
  schemas:
    CancellazioneEventoRequest:
      description: Richiesta del servizio specializzato per eliminare logicamente l'evento sulle basi dati
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            evento:
                 $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'