openapi: 3.0.0
info:
  title: Servizi cooperativi per la validazione della rettifica
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /rettifica/validazione/evento/{version}:
     post:
       description: Validazione dell'annotazione di rettifica
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneRettificaEventoRequest'
       responses:
        200:
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneRettificaEventoResponse'
        403:
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneRettificaEventoResponse'
        404:
          description: Se i dati dello use case non sono presenti in base dati.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneRettificaEventoResponse'
components:
  schemas:
    ValidazioneRettificaEventoResponse:
      description: Risposta per il servizio di dettaglio rettifica
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:
            evento:
              $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
            eventoModificato:
                $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
                
    ValidazioneRettificaEventoRequest:
      description: Richiesta del servizio di rettifica
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
          required:
            - evento
            - eventoModificato
        - type: object
          properties:
            evento:
              $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
            eventoModificato:
                $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'                   