openapi: 3.0.0
info:
  title: Servizi cooperativi per la validazione della rettifica
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /rettifica/validazione/evento/{version}:
     post:
       description: Validazione della rettifica di un evento
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneRettificaEventoRequest'
       responses:
        200:
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneRettificaEventoResponse'
        403:
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneRettificaEventoResponse'
        400:
          description: Se i metadati non sono in formato json corretto
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneRettificaEventoResponse'
        404:
          description: Se i dati dello use case non sono presenti in base dati.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneRettificaEventoResponse'
components:
  schemas:
    ValidazioneRettificaEventoRequest:
      description: Richiesta del servizio specializzato per la validazione di rettifica di un evento
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            annotazioneRettifica:
                 $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
            eventoModificato:
                 $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'

    ValidazioneRettificaEventoResponse:
      description: Ritorno del servizio specializzato per la validazione dei singoli Use Case
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            idEvento:
              type: string
              description: Identificativo evento interno
              example: '4245234'
            idAnsc:
              type: string
              description: Identificativo evento Nazionale
              example: '2022-242352-1-3434A'
            idTipoEvento:
              type: string
              description: Identificativo del tipo di evento (decodifica ANSC_01) 
              example: '2'                 
                            