openapi: 3.0.0
info:
  title: Servizi cooperativi per la gestione data di validità verso anagrafe
  version: '1.4.0'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /evento/data-validita/{version}:
     post:
       description: Inserimento data validità dell’evento firmato
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataValiditaEventoRequest'
       responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/DataValiditaEventoResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/DataValiditaEventoResponse'
        '404':
          description: Se i dati dello use case non sono presenti in base dati.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/DataValiditaEventoResponse'
components:
  schemas:
    DataValiditaEventoResponse:
      description: Risposta per il servizio di inserimento della data di validità
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
             
    DataValiditaEventoRequest:
      description: Richiesta di inserimento della data di validità
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:
            idEvento:
              type: string
              description: Id univoco assegnato dal sistema
            idAnsc:
              type: string
              description: Id Nazionale univoco assegnato dal sistema
            dataValidita:
              type: string
              format: date
              description: Data validità evento
              example: "2023-01-01"
            intestatari:
              type: array
              description: Lista intestari (Utilizzato solo nel caso d'uso 52821 Trascrizione atti multipli cittadinanza. Per i soggetti privi di Data Validità sarà utilizzata, ai fini dell’invio in anagrafica, la Data Validità dell’evento, ove presente.)
              items:
                $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelSoggetto'
