openapi: 3.0.0
info:
  title: Servizi cooperativi per la validazione del provvedimento di rifiuto
  version: '1.4.0'
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /rifiuto/validazione/evento/{version}:
    post:
      description: Validazione del provvedimento di rifiuto
      tags:
        - Validazione service
      summary: Validazione del provvedimento di rifiuto
      operationId: ValidazioneEventoRifiuto
      parameters:
        - name: version
          in: path
          description: Versione del servizio
          required: true
          schema:
            type: string
      requestBody:
        description: DTO di request per la validazione del provvedimento di rifiuto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidazioneEventoRifiutoRequest'
        required: true
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneEventoRifiutoResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneEventoRifiutoResponse'
        '404':
          description: Non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneEventoRifiutoResponse'
components:
  schemas:
    ValidazioneEventoRifiutoRequest:
      description: DTO di validazione per l'inserimento del provvedimento di rifiuto
      required:
        - evento
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:
            evento:
              $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
    ValidazioneEventoRifiutoResponse:
      description: DTO di risposta del servizio di validazione del provvedimento di
        rifiuto
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:
            evento:
              $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'