openapi: 3.0.0
info:
  title: Servizi cooperativi per la rettifica di un annotazione
  version: '1.4.0'
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /annotazione-rettifica/validazione/evento/{version}:
    post:
      description: Servizio che valida l'evento annotazione rettifica
      tags:
        - Validazione service annotazione rettifica
      summary: Servizio che valida l'evento annotazione rettifica
      operationId: annotazioneRettificaValidazione
      parameters:
        - name: version
          in: path
          description: Versione del servizio
          required: true
          schema:
            type: string
      requestBody:
        description: Annotazione rettifica da validare
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotazioneRettificaRequest'
        required: true
      responses:
        '200':
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotazioneRettificaResponse'
        '403':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotazioneRettificaResponse'
        '404':
          description: Non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotazioneRettificaResponse'

components:
  schemas:
    AnnotazioneRettificaRequest:
      description: Dati dell'evento inviato
      required:
        - idEventoAnnotazione
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:
            evento:
              description: model evento annotazione rettificata
              allOf:
                - $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'
            idEventoAnnotazione:
              description: 'Id Evento dell''annotazione '
              type: number
              example: 12
    AnnotazioneRettificaResponse:
      description: Dati dell'evento restituito dal servizio
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:
            evento:
              description: model evento annotazione rettificata
              type: object
              allOf:
                - $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelEvento'