openapi: 3.0.0
info:
  title: Servizi cooperativi per la riconciliazione di due soggetti
  version: '1.4.0'
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /servizi/soggetto/riconciliazione/{version}:
    post:
      tags:
        - Servizio di riconciliazione di due soggetti
      summary: Servizio che riconcilia due soggetti
      operationId: soggettoRiconciliazione
      parameters:
        - name: version
          in: path
          description: Versione del servizio
          required: true
          schema:
            type: string
      requestBody:
        description: Soggetti da riconciliare
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiconciliazioneSoggettiRequest'
        required: true
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiconciliazioneSoggettiResponse'
        "403":
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiconciliazioneSoggettiResponse'
        "404":
          description: Non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiconciliazioneSoggettiResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    RiconciliazioneSoggettiRequest:
      description: Dati dei soggetti da riconciliare
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscRequest'
          required:
            - soggetto
            - soggettoDaRiconciliare
        - type: object
          properties:
            soggetto:
              description: Soggetto alla quale si intende riconciliarne un altro
              $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelSoggetto'
            soggettoDaRiconciliare:
              description: Soggetto da riconciliare
              $ref: 'https://italia.github.io/ansc/docs/openapi/model_evento.yaml#/components/schemas/ModelSoggetto'
    RiconciliazioneSoggettiResponse:
      description: Dati di risposta del servizio di riconciliazione
      allOf:
        - $ref: 'https://italia.github.io/ansc/docs/openapi/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:
            esitoRiconciliazioneSoggetti:
              $ref: '#/components/schemas/EsitoRiconciliazioneSoggetti'

    EsitoRiconciliazioneSoggetti:
      properties:
        codice:
          type: string
          description: Codice esito
          example: '200'
        descrizione:
          type: string
          description: Descrizione testuale errore
          example: Dati non validi