---
openapi: 3.0.3
info:
  title: dmnm validation API
  version: '1.45.0'
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
tags:
- name: Validazione service
  description: DMNM validazione service
paths:
  /dmnm/validazione/{version}:
    post:
      description: Validazione documento dmnm verso TS
      
      tags:
      - Validazione service
      summary: Validazione di un documento dmnm
      operationId: validazioneDmnm
      parameters:
      - name: version
        in: path
        description: Versione del servizio
        required: true
        schema:
          type: string
      requestBody:
        description: valida un documento dmnm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidazioneDmnmRequest'
        required: true
      responses:
        "200":
          description: Successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneDmnmRequest'
        "403":
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneDmnmResponse'
        "404":
          description: Non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneDmnmResponse'
components:
  schemas:
    Anagrafica:
      type: object
      properties:
        cognome:
          type: string
        nome:
          type: string
        sesso:
          type: string
        codiceFiscale:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        etaPresunta:
          type: string
        dataNascita:
          type: string
        oraNascita:
          type: string
        codiceFiscaleMadre:
          type: string
        codiceFiscaleNonAssegnatoMadre:
          type: string
        codiceFiscalePadre:
          type: string
        codiceFiscaleNonAssegnatoPadre:
          type: string
    AttestazioneNascita:
      type: object
      properties:
        DatiGenerali:
          $ref: '#/components/schemas/DatiGeneraliNascita'
        DatiAttestazioneNascita:
          $ref: '#/components/schemas/DatiAttestazioneNascita'
        numeroRicezione:
          type: string
        codMittente:
          type: string
    AttoMorte:
      type: object
      properties:
        idAnsc:
          type: string
        numero:
          type: string
        parte:
          $ref: '#/components/schemas/ParteAttoMorte'
        serie:
          $ref: '#/components/schemas/SerieAttoMorte'
    AvvisoDecesso:
      type: object
      properties:
        DatiGenerali:
          $ref: '#/components/schemas/DatiGeneraliMorte'
        DatiAvvisoDecesso:
          $ref: '#/components/schemas/DatiAvvisoDecesso'
        numeroRicezione:
          type: string
        codMittente:
          type: string
    CausaMorte:
      type: object
      properties:
        patologiePrincipali:
          type: array
          items:
            $ref: '#/components/schemas/PatologiaTrauma'
        patologieSecondarie:
          type: array
          items:
            $ref: '#/components/schemas/PatologiaTrauma'
        eventoTraumatismo:
          type: string
        modalitaTraumatismo:
          $ref: '#/components/schemas/TipoModalitaTraumatismo'
        incidenteDaTrasporto:
          $ref: '#/components/schemas/Incidente'
        dataEvento:
          $ref: '#/components/schemas/TipoDataEvento'
        luogoEvento:
          $ref: '#/components/schemas/TipoLuogoEvento'
    CertificatoNecroscopico:
      type: object
      properties:
        DatiGenerali:
          $ref: '#/components/schemas/DatiGeneraliMorte'
        DatiCertificatoNecroscopico:
          $ref: '#/components/schemas/DatiCertificatoNecroscopico'
        numeroRicezione:
          type: string
        codMittente:
          type: string
    Cittadinanza:
      type: object
      properties:
        tipoCittadinanza:
          format: int32
          type: integer
        NomeStatoEsteroCittadinanza:
          type: string
        CodiceStatoEsteroCittadinanza:
          type: string
    Comune:
      type: object
      properties:
        codiceIstat:
          type: string
        descrizione:
          type: string
        circoscrizione:
          type: string
    DatiAttestazioneNascita:
      type: object
      properties:
        anonimato:
          format: double
          type: number
        flagPuerpera:
          format: double
          type: number
        codiceFiscalePuerpera:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        cognomePuerpera:
          type: string
        nomePuerpera:
          type: string
        dataNascitaPuerpera:
          type: string
        comuneNascitaPuerpera:
          $ref: '#/components/schemas/TipoComuneStato'
        cittadinanzaPuerpera:
          type: array
          items:
            $ref: '#/components/schemas/Cittadinanza'
        residenzaPuerpera:
          $ref: '#/components/schemas/TipoResidenza'
        statoCivilePuerpera:
          format: int32
          type: integer
        genereParto:
          format: double
          type: number
        numeroMaschi:
          format: int32
          type: integer
        numeroFemmine:
          format: int32
          type: integer
        DatiBambino:
          type: array
          items:
            $ref: '#/components/schemas/DatiBambino'
    DatiAttoMorte:
      type: object
      properties:
        sesso:
          type: string
        codiceFiscale:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        attoMorte:
          $ref: '#/components/schemas/AttoMorte'
        provincia:
          $ref: '#/components/schemas/Provincia'
        comune:
          $ref: '#/components/schemas/Comune'
    DatiAvvisoDecesso:
      type: object
      properties:
        codiceFiscaleDefunto:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        cognomeDefunto:
          type: string
        nomeDefunto:
          type: string
        dataNascitaDefunto:
          type: string
        comuneNascitaDefunto:
          $ref: '#/components/schemas/TipoComuneStato'
        tipoComuneNascita:
          format: int32
          type: integer
        residenzaDefunto:
          $ref: '#/components/schemas/TipoResidenza'
        sessoDefunto:
          type: string
        statoCivileDefunto:
          format: int32
          type: integer
        cittadinanzaDefunto:
          type: array
          items:
            $ref: '#/components/schemas/Cittadinanza'
    DatiBambino:
      type: object
      properties:
        ordineNascita:
          format: int32
          type: integer
        dataNascitaBambino:
          type: string
        oraNascitaBambino:
          type: string
        sessoBambino:
          type: string
        vitalita:
          format: int32
          type: integer
    DatiBambinoDichiarazione:
      type: object
      properties:
        ordineNascita:
          format: int32
          type: integer
        cognomeBambino:
          type: string
        nomeBambino:
          type: string
        filiazione:
          format: int32
          type: integer
        dataNascitaBambino:
          type: string
        oraNascitaBambino:
          type: string
        sessoBambino:
          type: string
        residenzaBambino:
          $ref: '#/components/schemas/TipoResidenza'
    DatiCertificatoNecroscopico:
      type: object
      properties:
        codiceFiscaleDefunto:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        cognomeDefunto:
          type: string
        nomeDefunto:
          type: string
        dataNascitaDefunto:
          type: string
        sessoDefunto:
          type: string
        statoCivileDefunto:
          format: int32
          type: integer
        comuneNascitaDefunto:
          $ref: '#/components/schemas/TipoComuneStato'
        tipoComuneNascita:
          format: int32
          type: integer
        residenzaDefunto:
          $ref: '#/components/schemas/TipoResidenza'
        cittadinanzaDefunto:
          type: array
          items:
            $ref: '#/components/schemas/Cittadinanza'
        cittadinanzaNonDisponibile:
          type: string
        dataVisita:
          type: string
        oraVisita:
          type: string
        luogoVisita:
          type: string
        impossibileStimareOra:
          type: string
        noteImpossibileStimareOra:
          type: string
        modalitaRilievo:
          type: string
        termineSepoltura:
          format: int32
          type: integer
        DichiarazioneMedicoNecroscopico:
          type: string
        flagcremazione:
          format: double
          type: number
    DatiDichiarante:
      type: object
      properties:
        codiceFiscaleDichiarante:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        cognomeDichiarante:
          type: string
        nomeDichiarante:
          type: string
        dataNascitaDichiarante:
          type: string
        sessoDichiarante:
          type: string
        comuneNascitaDichiarante:
          $ref: '#/components/schemas/TipoComuneStato'
        residenzaDichiarante:
          $ref: '#/components/schemas/TipoResidenza'
        QualitaDichiarante:
          format: int32
          type: integer
    DatiDichiarazioneNascita:
      type: object
      properties:
        DatiDichiarante:
          $ref: '#/components/schemas/DatiDichiarante'
        DatiMadre:
          $ref: '#/components/schemas/DatiMadre'
        DatiPadre:
          $ref: '#/components/schemas/DatiPadre'
        DatiBambino:
          type: array
          items:
            $ref: '#/components/schemas/DatiBambinoDichiarazione'
    DatiGeneraliMorte:
      type: object
      properties:
        codiceFiscaleSoggetto:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        cognomeSoggetto:
          type: string
        nomeSoggetto:
          type: string
        codiceRegione:
          format: double
          type: number
        codiceASL:
          format: double
          type: number
        codiceStruttura:
          format: double
          type: number
        ruolo:
          format: int32
          type: integer
        codiceFiscaleStruttura:
          type: string
        denominazione:
          type: string
        luogoDecesso:
          $ref: '#/components/schemas/LuogoDecesso'
        comuneDecesso:
          $ref: '#/components/schemas/TipoComuneDecesso'
        tipologiaDocumento:
          $ref: '#/components/schemas/TipologiaDocumento'
        numeroRicezione:
          format: int32
          type: integer
        dataEmissione:
          type: string
        dataDecesso:
          type: string
        oraDecesso:
          type: string
    DatiGeneraliNascita:
      type: object
      properties:
        codiceFiscaleSoggetto:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        cognomeSoggetto:
          type: string
        nomeSoggetto:
          type: string
        codiceRegione:
          format: double
          type: number
        codiceASL:
          format: double
          type: number
        codiceStruttura:
          format: double
          type: number
        ruolo:
          format: int32
          type: integer
        codiceFiscaleStruttura:
          type: string
        denominazione:
          type: string
        tipologiaDocumento:
          $ref: '#/components/schemas/TipologiaDocumento'
        luogoParto:
          format: int32
          type: integer
        comuneNascita:
          $ref: '#/components/schemas/TipoComuneStato'
        indirizzoNascita:
          type: string
        comuneDestinazioneAtto:
          $ref: '#/components/schemas/TipoComuneStato'
        numeroRicezione:
          format: int32
          type: integer
        dataEmissione:
          type: string
    DatiMadre:
      type: object
      properties:
        codiceFiscaleMadre:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        cognomeMadre:
          type: string
        nomeMadre:
          type: string
        dataNascitaMadre:
          type: string
        sessoMadre:
          type: string
        comuneNascitaMadre:
          $ref: '#/components/schemas/TipoComuneStato'
        cittadinanzaMadre:
          type: array
          items:
            $ref: '#/components/schemas/Cittadinanza'
        residenzaMadre:
          $ref: '#/components/schemas/TipoResidenza'
        statoCivileMadre:
          format: int32
          type: integer
    DatiPadre:
      type: object
      properties:
        codiceFiscalePadre:
          type: string
        codiceFiscaleNonAssegnato:
          type: string
        cognomePadre:
          type: string
        nomePadre:
          type: string
        dataNascitaPadre:
          type: string
        sessoPadre:
          type: string
        comuneNascitaPadre:
          $ref: '#/components/schemas/TipoComuneStato'
        cittadinanzaPadre:
          type: array
          items:
            $ref: '#/components/schemas/Cittadinanza'
        residenzaPadre:
          $ref: '#/components/schemas/TipoResidenza'
        statoCivilePadre:
          format: int32
          type: integer
    DatiPaginazione:
      type: object
      properties:
        numPagina:
          format: int32
          type: integer
        numRecordPagina:
          format: int32
          type: integer
        numRecordTotali:
          format: int32
          type: integer
    DenunciaMorteEntroPrimoAnno:
      type: object
      properties:
        DatiGenerali:
          $ref: '#/components/schemas/DatiGeneraliMorte'
        sezioneMedico:
          $ref: '#/components/schemas/SezioneMedico'
        sezioneUfficialeStatoCivile:
          $ref: '#/components/schemas/SezioneUfficialeStatoCivile'
        sezioneUfficialeStatoCivileAnsc:
          $ref: '#/components/schemas/SezioneUfficialeStatoCivileAnsc'
        numeroRicezione:
          type: string
        codMittente:
          type: string
    DenunciaMorteOltrePrimoAnno:
      type: object
      properties:
        DatiGenerali:
          $ref: '#/components/schemas/DatiGeneraliMorte'
        sezioneMedico:
          $ref: '#/components/schemas/SezioneMedico'
        sezioneUfficialeStatoCivile:
          $ref: '#/components/schemas/SezioneUfficialeStatoCivile'
        sezioneUfficialeStatoCivileAnsc:
          $ref: '#/components/schemas/SezioneUfficialeStatoCivileAnsc'
        numeroRicezione:
          type: string
        codMittente:
          type: string
    DichiarazioneNascita:
      type: object
      properties:
        DatiGenerali:
          $ref: '#/components/schemas/DatiGeneraliNascita'
        DatiDichiarazioneNascita:
          $ref: '#/components/schemas/DatiDichiarazioneNascita'
        documento:
          type: string
        numeroRicezione:
          type: string
        codMittente:
          type: string
    DmnmDocDTO:
      type: object
      properties:
        _id:
          type: string
        tipoAllegato:
          type: string
        codIstat:
          type: string
        DichiarazioneNascita:
          $ref: '#/components/schemas/DichiarazioneNascita'
        DenunciaMorteOltrePrimoAnno:
          $ref: '#/components/schemas/DenunciaMorteOltrePrimoAnno'
        DenunciaMorteEntroPrimoAnno:
          $ref: '#/components/schemas/DenunciaMorteEntroPrimoAnno'
        CertificatoNecroscopico:
          $ref: '#/components/schemas/CertificatoNecroscopico'
        AvvisoDecesso:
          $ref: '#/components/schemas/AvvisoDecesso'
        AttestazioneNascita:
          $ref: '#/components/schemas/AttestazioneNascita'
    EtaCompiutaAnno:
      type: object
      properties:
        ore:
          format: int32
          type: integer
        giorni:
          format: int32
          type: integer
        mesi:
          format: int32
          type: integer
    FirmaRecapitiUfficialeStatoCivile:
      type: object
      properties:
        confermaCorrettezzaDati:
          type: string
        telefono:
          type: string
        email:
          type: string
    Incidente:
      type: object
      properties:
        mezzoTrasporto:
          format: int32
          type: integer
        altroMezzoTrasporto:
          type: string
        ruoloVittima:
          format: int32
          type: integer
        altroRuoloVittima:
          type: string
        tipoIncidente:
          format: int32
          type: integer
        altroTipoIncidente:
          type: string
        oggettoScontro:
          type: string
    InformazioniRilevanti:
      type: object
      properties:
        pesoNascita:
          format: double
          type: number
        etaGestionale:
          format: double
          type: number
        parita:
          format: double
          type: number
        anniMadre:
          format: double
          type: number
    LocalDateTime:
      format: date-time
      type: string
      example: 2022-03-10T12:15:50
    Localita:
      type: object
      properties:
        tipoComune:
          format: int32
          type: integer
        altroComune:
          $ref: '#/components/schemas/Comune'
        statoEstero:
          type: string
        provincia:
          $ref: '#/components/schemas/Provincia'
    LocalitaNascita:
      type: object
      properties:
        tipoComune:
          format: int32
          type: integer
        altroComune:
          $ref: '#/components/schemas/Comune'
        statoEstero:
          type: string
        provincia:
          $ref: '#/components/schemas/Provincia'
    LuogoDecesso:
      type: object
      properties:
        luogoEventoDecesso:
          format: int32
          type: integer
        specificaLuogoDecesso:
          type: string
    ModelLuogo:
      required:
      - idComune
      - nomeComune
      - idProvincia
      - siglaProvincia
      - idStato
      - nomeStato
      - luogo
      - indirizzo
      - numeroCivico
      - comuneEstero
      type: object
      properties:
        idComune:
          description: Id del comune
          type: string
          example: "2780"
        nomeComune:
          description: Nome del comune
          type: string
          example: CESENA
        idProvincia:
          description: Id della provincia del decesso.
          type: string
          example: "123"
        siglaProvincia:
          description: Sigla della provincia del decesso.
          type: string
          example: FC
        idStato:
          description: Id della Nazione in cui e' avvenuto il decesso.
          type: string
          example: "100"
        nomeStato:
          description: Nome della Nazione in cui e' avvenuto il decesso.
          type: string
          example: ITALIA
        luogo:
          description: Luogo in cui e' avvenuto il decesso.
          type: string
          example: Casa
        indirizzo:
          description: Indirizzo del decesso.
          type: string
          example: "Via Cattaneo, 15"
        numeroCivico:
          description: Numero civico
          type: string
          example: SNC
        comuneEstero:
          description: Nome del comune estero in cui e' avvenuto la matrimonio.
          type: string
          example: Londra
    MotivazioneCertificazione:
      type: object
      properties:
        motivo:
          format: int32
          type: integer
        confermaCausaMorte:
          format: int32
          type: integer
    ParteAttoMorte:
      enum:
      - I
      - II
      type: string
    PatologiaTrauma:
      type: object
      properties:
        patologia:
          type: string
        tempoPatologia:
          type: string
    Professione:
      type: object
      properties:
        tipoProfessione:
          format: int32
          type: integer
        statoEstero:
          type: string
    Provincia:
      type: object
      properties:
        sigla:
          type: string
        codiceIstatProvincia:
          type: string
        denominazioneProvincia:
          type: string
    SerieAttoMorte:
      enum:
      - B
      - C
      type: string
    ServiceMessage:
      type: object
      properties:
        code:
          type: string
        severity:
          type: string
        text:
          type: string
    SezioneMedico:
      type: object
      properties:
        anagrafica:
          $ref: '#/components/schemas/Anagrafica'
        motivazioneCertificazione:
          $ref: '#/components/schemas/MotivazioneCertificazione'
        riscontroDiagnostico:
          format: int32
          type: integer
        statoGravidanza:
          format: int32
          type: integer
        informazioniRilevantiNascita:
          $ref: '#/components/schemas/InformazioniRilevanti'
        causaMortePrincipale:
          $ref: '#/components/schemas/CausaMorte'
        dataRedazione:
          type: string
        confermaCorrettezzaDati:
          type: string
        telefonoMedico:
          type: string
    SezioneUfficialeStatoCivile:
      type: object
      properties:
        datiAttoMorte:
          $ref: '#/components/schemas/DatiAttoMorte'
        dataMorte:
          type: string
        dataNascita:
          type: string
        localitaNascita:
          $ref: '#/components/schemas/LocalitaNascita'
        etaCompiuta:
          format: int32
          type: integer
        statoCivile:
          format: int32
          type: integer
        annoNascitaPartner:
          type: string
        annoUnioneMatrimonio:
          type: string
        residenza:
          $ref: '#/components/schemas/TipoResidenza'
        istruzione:
          type: string
        professione:
          $ref: '#/components/schemas/Professione'
        cittadinanza:
          type: array
          items:
            $ref: '#/components/schemas/Cittadinanza'
        firmaRecapitiUfficialeStatoCivile:
          $ref: '#/components/schemas/FirmaRecapitiUfficialeStatoCivile'
    SezioneUfficialeStatoCivileAnsc:
      type: object
      properties:
        datiAttoMorte:
          $ref: '#/components/schemas/DatiAttoMorte'
        dataMorte:
          type: string
        oraMorte:
          type: string
        dataNascita:
          type: string
        oraNascita:
          type: string
        localitaNascita:
          $ref: '#/components/schemas/LocalitaNascita'
        etaCompiuta:
          format: int32
          type: integer
        etaCompiutaAnno:
          $ref: '#/components/schemas/EtaCompiutaAnno'
        statoCivile:
          format: int32
          type: integer
        annoNascitaPartner:
          type: string
        annoUnioneMatrimonio:
          type: string
        residenza:
          $ref: '#/components/schemas/Localita'
        livelloIstruzione:
          format: int32
          type: integer
        condizioneProfessionale:
          format: int32
          type: integer
        tipologiaProfessionale:
          format: int32
          type: integer
        posizioneProfessionale:
          format: int32
          type: integer
        cittadinanza:
          type: array
          items:
            $ref: '#/components/schemas/Cittadinanza'
        comuneUsc:
          $ref: '#/components/schemas/Comune'
        firmaRecapitiUfficialeStatoCivile:
          $ref: '#/components/schemas/FirmaRecapitiUfficialeStatoCivile'
        codiceFiscaleMadre:
          type: string
        codiceFiscalePadre:
          type: string
        genereParto:
          format: int32
          type: integer
        filiazione:
          format: int32
          type: integer
        dataNascitaMadre:
          type: string
        residenzaMadre:
          $ref: '#/components/schemas/Localita'
        livelloIstruzioneMadre:
          format: int32
          type: integer
        livelloIstruzionePadre:
          format: int32
          type: integer
        condizioneProfessionalePadre:
          format: int32
          type: integer
        condizioneProfessionaleMadre:
          format: int32
          type: integer
        tipologiaProfessionalePadre:
          format: int32
          type: integer
        tipologiaProfessionaleMadre:
          format: int32
          type: integer
        posizioneProfessionaleMadre:
          format: int32
          type: integer
        posizioneProfessionalePadre:
          format: int32
          type: integer
        cittadinanzaPadre:
          type: array
          items:
            $ref: '#/components/schemas/Cittadinanza'
        cittadinanzaMadre:
          type: array
          items:
            $ref: '#/components/schemas/Cittadinanza'
        stato:
          type: string
        firmaDetached:
          type: string
    SignPdfRequest:
      description: Richiesta del servizio di firma pdf
      required:
      - pdfBase64
      - username
      - otpPwd
      - userPwd
      type: object
      properties:
        pdfBase64:
          description: Il pdf codificato base64
          type: string
          example: VEVTVA==
        username:
          description: Lo username del servizio di firma remoto
          type: string
          example: user1
        otpPwd:
          description: L'OTP del servizio di firma remoto
          type: string
          example: "13232"
        userPwd:
          description: La password del servizio di firma remoto
          type: string
          example: pass1
    SignPdfResponse:
      description: Risposta del servizio firma pdf
      type: object
      properties:
        result:
          format: int32
          description: "Il risultato della composizione, 0 = OK, -1 = errore"
          type: integer
          example: 0
        pdfSigned:
          description: Il pdf firmato codificato base64
          type: string
          example: VEVTVA==
        hash:
          description: L'hash della firma
          type: string
          example: 6c98ebbffe59cdfd0f40692522f7e063a1736ab594e2034b3681e722d98239fd
    TestataRichiesta:
      type: object
      properties:
        idComune:
          format: int32
          type: integer
        idOperazioneComune:
          type: string
        dataOraRichiesta:
          type: string
        nomeApplicativo:
          type: string
        versioneApplicativo:
          type: string
        fornitoreApplicativo:
          type: string
    TestataRisposta:
      type: object
      properties:
        idComune:
          format: int32
          type: integer
        idOperazioneComune:
          type: string
        idOperazione:
          type: string
        idEsito:
          format: int32
          type: integer
    TipoComuneDecesso:
      type: object
      properties:
        nomeComuneDecesso:
          type: string
        codiceIstatComuneDecesso:
          type: string
        siglaProvinciaDecesso:
          $ref: '#/components/schemas/Provincia'
        codiceASLComuneDecesso:
          format: double
          type: number
    TipoComuneStato:
      type: object
      properties:
        nomeComune:
          type: string
        siglaProvinciaIstat:
          $ref: '#/components/schemas/Provincia'
        codIstatComume:
          type: string
        codStatoEstero:
          type: string
        nomeStatoEstero:
          type: string
    TipoDataEvento:
      type: object
      properties:
        data:
          type: string
        ora:
          type: string
    TipoLuogoEvento:
      type: object
      properties:
        luogoEvento:
          format: int32
          type: integer
        altroLuogo:
          type: string
        tipoStrada:
          format: int32
          type: integer
    TipoModalitaTraumatismo:
      type: object
      properties:
        modalita:
          format: int32
          type: integer
        infortunioLavoro:
          format: int32
          type: integer
    TipoResidenza:
      type: object
      properties:
        comune:
          $ref: '#/components/schemas/TipoComuneStato'
        indirizzo:
          type: string
    TipologiaDocumento:
      enum:
      - 1.0
      - 2.0
      - 3.0
      - 4.0
      - 5.0
      - 6.0
      type: string
    ValidazioneDmnmRequest:
      description: Dati del doc inviato
      required:
      - numeroRicezione
      - idTipodocumento
      - sezioneUfficialeStatoCivile
      type: object
      properties:
        testataRichiesta:
          description: Testata di richiesta
          type: object
          allOf:
          - $ref: '#/components/schemas/TestataRichiesta'
        idDmnmDocumento:
          description: id record da aggiornare
          type: string
        numeroRicezione:
          description: numero ricezione record da aggiornare
          type: string
        idTipodocumento:
          description: idtipodocumento record da aggiornare
          type: string
        sezioneUfficialeStatoCivile:
          description: id record da aggiornare
          type: object
          allOf:
          - $ref: '#/components/schemas/SezioneUfficialeStatoCivileAnsc'
        testata:
          $ref: '#/components/schemas/TestataRichiesta'
    ValidazioneDmnmResponse:
      description: Dati dell'evento restituito dal servizio
      type: object
      properties:
        testataRisposta:
          $ref: '#/components/schemas/TestataRisposta'
        datiPaginazione:
          $ref: '#/components/schemas/DatiPaginazione'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ServiceMessage'
        success:
          type: array
          items:
            $ref: '#/components/schemas/ServiceMessage'
        infos:
          type: array
          items:
            $ref: '#/components/schemas/ServiceMessage'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/ServiceMessage'
        dmnmDoc:
          $ref: '#/components/schemas/DmnmDocDTO'
        esito:
          type: string
